<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img  class="img-linio"  src="https://images.falabella.com/v3/assets/blt7c5c2f2f888a7cc3/blt953944608a731c85/Linio@256px.png"  alt="linio"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home <i class="bi bi-house-fill"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lista-productos">lista productos<i class="bi bi-box-fill"></i></a>
        </li>
        
      </ul>
      <form class="d-flex" role="login">
        <button class="btn btn-outline-success" type="submit" routerlink="/Login">Login</button>
        <button class="btn btn-outline-success" type="submit"><i class="bi bi-cart"></i></button>
      </form>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
